.postadd{
    h3{
        font-size: 18px;
        margin-top: 20px;
        background-color: #f8f9fa!important;
        padding: 15px;
        
    }
}
.form-container{
    width: 100%;
    .help-block{
        color: red;
    }
    .has-error{
        border:1px solid red;
    }
}