.logo{
    color: #000;
    font-size: 25px;
    margin-right: 20px;
}
.mr-auto {
    .nav-item{        
        a{
            color: #000;
            font-size: 18px;
            margin-left: 20px;
        }
    }
}
footer{
    background-color:#f8f9fa;
    padding: 10px 0px 10px 20px;
}
.required{
    color: red;
}